.scoreboard {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  z-index: 2;

  &[input] {
    margin-bottom: 5px;
  }
}
