.start__background {
  background: #FF6C00 !important;
  box-shadow: 10px 10px 10px #FF6C00,
  -10px 10px 10px #FF6C00,
  -10px -10px 10px #FF6C00,
  10px -10px 10px #FF6C00 !important;
}


.main-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

