body {
  background: url(../../static/images/background.png) no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__main {
    &__wrapper {
      width: 100%;
      margin: 0 auto;
      position: absolute;
    }

    &__header {
      font-family: 'Astakhov Skin';
      font-size: 56pt;
      color: white;
      cursor: default;
      margin-bottom: 200px;
      margin-top: 50px;
      width: 100%;

      &-register {
        font-family: 'Roboto';
        font-size: 12pt;
        margin-top: -70px;
        margin-left: 610px;
        display: block;
      }
    }
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  background: #1b1e24;
  width: 100%;
  height: 32px;

  &__wrapper__team {
    height: 100%;
    float: right;
    transform: scale(0.5);
    opacity: 0.4;
    font-family: 'Keep Calm';
    color: white;
    text-align: center;
    margin-left: -20px;
  }

  &__wrapper__help {
    position: absolute;
    height: 100%;
    float: left;
    transform: scale(0.5);
    opacity: 0.4;
    font-family: 'Keep Calm';
    color: white;
    text-align: center;
    margin-top: -6px;
  }

  &__help-enter {
    position: absolute;
    font-size: 20pt;
    margin-top: -46px;
    margin-left: 228px;
  }

  &__help-selector {
    position: absolute;
    font-size: 20pt;
    margin-top: -46px;
    margin-left: 36px;
  }

  .footer__help-img {
    border: 3px solid white;
    width: 55px;
    height: 55px;
    margin-top: -11px;
    margin-left: -40px;

    &-enter {
      margin-left: 130px;
    }
  }

  &-team {
    font-size: 20pt;
    padding-top: 5px;
  }

  &-register {
    font-size: 8pt;
    margin-top: -35px;
    margin-left: 220px;
  }
}

.animation-open {
  animation-name: open;
  animation-duration: 4s;
}

@keyframes open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
