body, html {
  height: 100%;
  background-color: black;
}

.wrapper {
  height: 100%;

  &__main {
    height: 100%;
    background-image: url(../../static/images/background.png);
    background-size: cover;
    display: flex;

    &__wrapper {
      width: 100%;
      margin: 0 auto;
    }

    &__header {
      font-family: "Astakhov Skin";
      font-size: 56pt;
      color: white;
      cursor: pointer;
      margin-bottom: 200px;
      margin-top: 50px;
      width: 100%;
      display: block;
    }

    &__form {

      &:focus {
        z-index: 2;
      }

      &-wrapper {
        margin-bottom: 40px;
        height: 40px;
      }

      &__button {
        font-family: "sans-serif";
        font-size: 30pt;
        color: white;
        cursor: pointer;
        display: inline;

        &:hover {
          font-size: 33pt;
          text-shadow: 0 0 10px #c00;
        }

        &-logout {
          display: none;
        }
      }
    }
  }
}
