body, html {
  height: 100%;
}

.main {
  height: 100%;
  background-image: url(../../static/images/background.png);
  background-size: cover;
  display: flex;
}

.main__form {
  margin: auto;
}

.main__form:focus {
  z-index: 2;
}

.main__form input {

}

.main__form p {

}

.main__form__button {
  font-family: "Micra";
  font-size: 30pt;
  color: white;
  cursor: pointer;
}

.main__form__button-logout {
  display: none;
}
