.main {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

.main:focus {
  z-index: 2;
}

.main input {
  margin-bottom: 5px;
}
