body, html {
  height: 100%;
}

.main {
  height: 100%;
  background-image: url(../../static/images/background.png);
  background-size: cover;
  display: flex;

  &__header {
    font-family: "Astakhov Skin";
    font-size: 56pt;
    color: white;
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
    display: flex;
  }

  &__form {
    margin: auto;

    &:focus {
      z-index: 2;
    }

    &__button {
      font-family: "Micra";
      font-size: 30pt;
      color: white;
      cursor: pointer;
      margin-bottom: 40px;
      display: block;

      &:hover {
        font-size: 33pt;
        text-shadow: 0 0 10px #c00;
      }

      &-logout {
        display: none;
      }
    }
  }
}
