#blocker {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

#instructions {
  width: 100%;
  height: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: box;

  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;

  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;

  color: #ffffff;
  text-align: center;

  cursor: pointer;

}

.game-stats {
  position: absolute;
  top: 0;
  left: 48%;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.51);
  padding-left: 20px;
  padding-right: 20px;
}

.user-stats {
  position: absolute;
  bottom: 0;
  right: 0px;
  margin: 20px;
  color: #fff;
}

.user-stats__health-bar {
  background-color: rgba(256, 0, 0, 0.75);
  padding: 10px 20px 10px 70px;
  text-align: right;
  margin: 5px;
}

.user-stats__ammo-bar {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 20px 5px 70px;
  margin: 5px;
  text-align: right;
}