.popup {
  &__top {
    position: absolute;
    margin: auto;
    padding: 0;
    opacity: 0;
    -webkit-animation-name: popUpOut;
    -webkit-animation-duration: 0.4s;
    animation-name: popUpOut;
    animation-duration: 0.4s;

    &-show {
      opacity: 1;
      -webkit-animation-name: popUpTop;
      -webkit-animation-duration: 0.4s;
      animation-name: popUpTop;
      animation-duration: 0.4s;
    }
  }
}

@keyframes popUpTop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 50px;
    opacity: 1;
  }
}

@-webkit-keyframes popUpTop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 50px;
    opacity: 1;
  }
}

@keyframes popUpOut {
  from {
    top: 50px;
    opacity: 1;
  }

  to {
    top: -300px;
    opacity: 0;
  }
}

@-webkit-keyframes popUpOut {
  from {
    top: 50px;
    opacity: 1
  }

  to {
    top: -300px;
    opacity: 0
  }
}
